
name: main
on: [push, pull_request]

jobs:
  lein-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: |
            17
            21
      - name: Install Clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: latest              # Clojure CLI based on tools.deps
          lein: latest                  # Leiningen
          boot: latest                  # Boot.clj
          bb: latest                    # Babashka
          clj-kondo: latest        # Clj-kondo
          cljstyle: latest             # cljstyle
          zprint: latest                # zprint
      - uses: actions/cache@v3
        with:
          key: apt-${{ matrix.jdk }}
          path: |
            ~/.m2/repository
            /var/cache/apt/archives/*.deb
      - run: sudo -i apt-get update
      - run: sudo -i apt-get -y install leiningen
      - name: lein test (jdk 17)
        run: dev/java-env --expect-major 17 "${JAVA_HOME_17_X64}" dev/run-test --use-sudo
      - name: lein test (jdk 21)
        run: dev/java-env --expect-major 21 "${JAVA_HOME_21_X64}" dev/run-test --use-sudo
